.cart-top-wrap {
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.cart-top {
   height: 2px;
   width: 79%;
   background-color: rgb(172, 121, 121);
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 80px 0px 100px 100px;
}
.cart-top-item {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: 1px solid rgb(29, 29, 29);
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(255, 255, 255);
}

.cart-top-payment {
   color: rgb(29, 29, 224);
   border: 1px solid blue;
}

.cart-top-cart a {
   color: black;
}
/*--------------checkout-------------*/

.col-12 .checkout-title{
   font-size: 24px;
   font-family: Arial, Helvetica, sans-serif;
   margin-bottom: 20px;
   margin-top: 30px;
}
.col-12 .block-border{
   padding: 35px 20px 0px 20px ;
    position: relative;
    border: 2px solid #7d8288;
    border-radius: 32px 0px;
    width: 100%;
    margin-left: 0px ;
}
.checkout-payment .block-border .checkout-title{
   font-size: 24px;
}
.col-12 .pt-4{
   padding-top: 1.5rem;
   width: 100%;
}

#days{
   margin-left: 10px;
   margin-right: 10px;
}
   .toggle-switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 30px;

   }
    
   /* Ẩn input checkbox mặc định */
   .toggle-switch input {
      display: none;
   }
    
   /* Tạo hình dạng cho thanh trượt */
   .slider {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      border-radius: 30px; /* Để tạo hình dạng thanh trượt tròn */
      cursor: pointer;
      transition: background-color 0.2s;
   }
    
   /* Thiết lập màu nền cho thanh trượt khi được chọn */
    .toggle-switch input:checked + .slider {
      background-color: #2196F3;
    }
    
   /* Tạo hình dạng trượt "bóng" khi được chọn */
   .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      border-radius: 50%; /* Để tạo hình dạng trượt tròn */
      transition: transform 0.2s;
   }
    
   /* Đặt vị trí cho trượt "bóng" khi input checkbox được chọn */
   .toggle-switch input:checked + .slider:before {
      transform: translateX(30px);
   }
   .form-switch{
      margin-bottom: -5px;
   }
   .order_vat_form .form-group{
      border: 50%;
   }
   .checkout-payment{
      margin-left: 1%;
   }
    .order_vat_form{
      width: 100%;
   }
    .complete-but {
      text-align: center;
      margin: 10px;
   }
   .complete-but button{
      padding: 20px 70px 20px 70px;
      border-radius: 10px 0px 10px 10px;
      background-color: rgb(148, 123, 123);
      box-shadow: 7px 5px 8px 3px rgb(163, 133, 133);
   }
   .complete-but button:hover{
      background-color: brown;
      color: white;
      box-shadow: 7px 5px 8px 3px rgb(167, 78, 78);
   }
 /* --------------------cart---------------------- */
/* Mobile iphone X width < 400px */
@media only screen and (max-width: 400px){
   .cart-top {
      width: 75%;
      margin: 50px 0px 50px 45px;
   }
   .complete-but{
      padding: 20px;
   }
   .time{
      display: block;
      
   }
   #days{
      margin-left: 0px;
   }
}
/* iphone 6/7/8 plus*/
@media only screen and (min-width: 410px) and (max-width: 500px){
   .cart-top {
      width: 75%;
      margin: 50px 0px 50px 50px;
   }
   .time{
      display: block;
      
   }
   #days{
      margin-left: 0px;
   }
}
/* Table width >= 730px to width < 750px ip 6/7/8 plus ngang */
@media only screen and (min-width: 730px) and (max-width: 750px) {
   .cart-top {
      width: 75%;
      margin: 100px 0px 100px 70px;
   }
}
/* width < 500px  */
@media only screen and (max-width: 500px){
   .cart-top-item {
      width: 40px;
      height: 40px;
      border-radius: 50%;
}
}
/* Table width >= 600px to width < 720px small tablet*/
@media only screen and (min-width: 600px) and (max-width: 720px) {
   .cart-top {
      width: 65%;
      margin: 50px 0px 50px 90px;
   }
}

/* Table width >= 800px to width < 819px  ipX small ngang  */
@media only screen and (min-width: 800px) and (max-width: 819px) {
   .cart-top {
      width: 65%;
      margin: 50px 0px 50px 140px;
   }
}
/* Table width >= 760px to width < 790px  ipad */
@media only screen and (min-width: 760px) and (max-width: 790px) {
   .cart-top {
      width: 65%;
      margin: 50px 0px 50px 120px;
   }
}
/* Table width >= 820px to width < 1024px  ipad pro*/
@media only screen and (min-width: 820px) and (max-width: 1024px) {
   .cart-top {
      width: 65%;
      margin: 100px 0px 100px 170px;
   }
}
/* Table width > 1024px to width < 1350px */
@media only screen and (min-width: 1025px) and (max-width: 1350px) {
   .cart-top {
      width: 65%;
      margin: 100px 0px 100px 200px;
   }
}

@media only screen and (min-width: 1890px) {
   .cart-top {
      width: 65%;
      margin: 100px 0px 100px 320px;
   }
}

