body{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgb(222, 237, 252);
}
.container{
    width: 100%;
}
.img-background-top{
    width: 100%;
    background-color: rgb(146, 138, 138);
    height: 100px;
    display: flex;
}

.img-background-top a{
    text-decoration: none;
    font-size: 22px;
    
}
a{
    color: aliceblue;
    text-decoration: none;
}
.body{
    display: flex;
}
.background-left{
    background-color: rgb(151, 192, 221);
    height: 550px;
    width: 150px; 
}
.background-right-table{
background-color: rgb(168, 233, 233);
margin: 30px 20px 0px 150px;
width: 1020px;
height:500px;
border-radius: 10%;
}
.background-right-table-small{
background-color: rgb(88, 199, 199);
margin: 0px 20px 0px 50px;
width: 930px;
height:400px;
border-radius: 10%
}

.text1{
    width: 180px;
    height: 50px;
    border-radius: 50%;
    display: block;
    background-color: rgb(97, 77, 77);
    padding-top: 30px;
    padding-left: 50px;
    margin: 30px 0px 50px 30px;
}
.text1:hover {
    background-color: rgb(216, 181, 27);
    color: black;
}
.icon-user{
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 15px 0px 0px 250px;
    border: 1px solid black;
    padding: 20px 10px 0px 10px;
    border-radius: 50% ;
    background-color: aliceblue;
}
.icon-user svg{
    padding: 0;
    margin: 0;
}
.name{
    width: 1̉0px;
    text-align: center;
    padding-top: 40px;
    padding-left: 20px;
    font-size: 22px;
    color: rgb(255, 255, 255);
}