body{
    padding: 0;
    margin: 0;
    width: 100%;
}
.container{
    width: 100%;
}
.img-background-top{
    width: 100%;
    background-color: gray;
    height: 100px;
    display: flex;
}
/* .background-left{
    background-color: gray;
    height: 600px;
    width: 150px;

} */
.img-background-top a{
    text-decoration: none;
    font-size: 22px;
    
}
.text-demo1{
    width: 150px;
    text-align: center;
    margin-left: 150px;
    padding-top: 35px;
    color: rgb(255, 255, 255);
}
.text-demo1:hover{
    background-color: rgb(216, 181, 27);
    border-radius: 10px;
    color: black;
}
.text-demo2{
    width: 150px;
    text-align: center;
    margin-left: 130px;
    padding-top: 35px;
    border-radius: 10px;    
    background-color: rgb(216, 181, 27);
    color: black;
}
.text-demo3{
    width: 150px;
    text-align: center;
    margin-left: 120px;
    padding-top: 35px;
    color: rgb(255, 255, 255);
}
.text-demo3:hover{
    background-color: rgb(216, 181, 27);
    border-radius: 10px;
    color: black;
}
.body{
display: flex;
}
.background-right-table{
    background-color: rgb(168, 233, 233);
    margin: 30px 20px 0px 180px;
    width: 1050px;
    height:500px;
    border-radius: 10%;
    }
    .background-right-table-small{
    background-color: rgb(88, 199, 199);
    margin: 0px 20px 0px 50px;
    width: 950px;
    height:400px;
    border-radius: 10%;
    }
    h1{
        padding-top: 15px;
        text-align: center;
    }
    .text-head{
        font-size: 25px;
        list-style: none;
        text-align: center;
        padding-top: 40px;
    }
    .text-body{
        padding-top: 50px;
        text-align: left;
        font-size: 20px;
    }
