.text-demo1{
    width: 150px;
    text-align: center;
    margin-left: 150px;
    padding-top: 35px;
    border-radius: 10px;    
    color: rgb(255, 255, 255);
    border: 1px solid rgb(216, 181, 27);
}
.text-demo1:hover{
    background-color: rgb(216, 181, 27);
    border-radius: 10px;
    color: black;
}
.text-demo2{
    width: 150px;
    text-align: center;
    margin-left: 130px;
    padding-top: 35px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(216, 181, 27);
    border-radius: 10px; 
}
.text-demo2:hover{
    background-color: rgb(216, 181, 27);
    border-radius: 10px;
    color: black;
}
.text-demo3{
    width: 150px;
    text-align: center;
    margin-left: 120px;
    padding-top: 35px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(216, 181, 27);
    border-radius: 10px; 
}
.text-demo3:hover{
    background-color: rgb(216, 181, 27);
    border-radius: 10px;
    color: black;
}

h1{
    padding-top: 15px;
    text-align: center;
}
ul li{
    list-style: none;
    margin: 20px;
    padding-top: 65px;
}
form{
    height: 305px;
}
.span-left{
    width: 150px;
    float: left;
    margin:10px 0px 0px 200px;
    font-size: 18px;
}
.span-right input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    box-shadow: inset;
}
.background-right-table-small button{
    width: 150px;
    font-size: 18px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    margin-left: 370px;
}
.background-right-table-small button:hover{
    background-color: black;
    color: rgb(255, 255, 255);
}
